*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body{
	background-color: deeppink;
}

a{
	color: #bfbfff;
	text-decoration: none;
	display: inline-block;
}

#home{
	font-weight: 700;
	font-size: 2rem;
}

li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	margin-top: 1vh;
}
