*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body{

}

a{
	color: #bfbfff;
	text-decoration: none;
	display: inline-block;
}

a:hover{
	color: #8080ff;
}

#home{
	position: absolute;
	font-weight: 900;
	font-size: 2rem;
	top: 0;
}

li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	margin-top: 1vh;
}

header{
	width: 100vw;
	height: 35vh;
	background-color: #ff1493;
	display: flex;
	justify-content: center;
	align-items: stretch;
}


header nav{
	background-color: #ff33CC;
	width: 100vw;
	height: 35vh;
	position: absolute;
	top: 0;
	text-align: center;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	background-color: #bfbfff;
	width: 100vw;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff00ff;
}

footer{
	width: 100vw;
	height: 30vh;
	display: flex;
	background-color: #888;
	justify-content: center;
	align-items: center;
	color: #fff;
}
