main{
  width: 980px;
  margin: 0 auto;
}

.column{
  width: 300px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

html, body{
  background-color: #ffffff;
}

body{
  margin: 0;
  font-family: "Helvetia Neue;"
}
