body{
  background-color: #f8f8f8
}
.logo{
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  font-family: Arial, Times, "Times New Roman";
  cursor: default;
  color: #FFFB98;
}

.logo:active{
    color: #FFFB98;
}

.section{
  display: inline-block;
  width: 30vw;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  background-color: #fff;
}
.section nav a{
  text-decoration: none;
  font-style: italic;
  margin-right: 10px;
  color: #D6BDFF;
}

.section nav a:hover{
  text-decoration: underline;
}

nav{
  display: inline-block;
  width: 60%;
}
