body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f8f8f8;
}

.top-nav{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.logo:link{
  color: #bfbfff;
  text-decoration: none;
  font-size: 26px;
  margin: 10.5px 0;
  display: inline-block;
  float: left;
  font-weight: bold;
}

.logo:visited{
  color: #bfbfff;
  text-decoration: none;
}

.top-nav-links{
  display: inline-block;
  margin: 0;
  float: right;
}

.top-nav-links li{
  display: inline-block;
  margin: 0 10px;
  padding: 15px 0;
}

.top-nav-links li:first-of-type{
  margin-left: 0;
}

.top-nav-links li:last-of-type{
  margin-right: 0;
}

.top-nav-links li a:link{
  color: #bfbfff;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.top-nav-links li a:visited{
  color: #bfbfff;
  text-decoration: none;
  font-size: 18px;
}

.top-nav-links li a:hover{
  color: #d2d2ff;
  border-bottom: 5px double #d2d2ff;
}

.nav-toggle{
  float: right;
  font-size: 34px;
  margin: 8.2px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  display: none;
}

.nav-toggle:hover{
  cursor: pointer;
}
