button{
  font-family: sans-serif;
  width: 12.5vw;
  height: 12.5vh;
  border-radius: 25px;
  margin-top: 25px;
  background-color: #72ecfa;
  cursor: pointer;
  text-shadow: 1px 1px 5px blue;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}

button:hover{
  background-color: #c0ebff;
}

button:active, button:focus{
  border-radius: 50px;
}
