h1{
  color:#DC143C;
}
h2{
  color:#FF6347;
}
h3{
  color:#9A8A00;
}
h4{
  color:#00FF00;
}
h5{
  color:#00BFFF;
}
h6{
  color:#FF00FF;
}
p{
  color:#F0FFF0;
}
ul{
  color:#F0FFF0;
}
ol{
  color:#F0FFF0;
}
div{
  color:#F0FFF0;
}
a{
  color:#0000CD;
  font-style:oblique;
}
